body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  background-color: #110e18;
  overflow-x: hidden;
}

.login-main-text {
  color: #fff;
}

.login-main-text h2 {
  font-weight: 300;
}

.btn-black {
  background-color: #110e18;
  color: #fff;
}
.btn-secondary:hover{
  border: 1px solid #110e18;
  color: #110e18;
  font-weight: bolder;
  background-color: white;
}
.adminActions button{
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin: 5px;
}
.adminActions button i{
  color: white;
}